* {
  margin: 0;
  padding: 0;
}
/* global reset margin and padding */

body {
  margin: 0 auto;
  height: 100vh;
  width: 1200px;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: solid 2px blue;
}

/* header sectoin */
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

header a {
  color: #e5e7eb;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
}
/* seciton 1 */
.section-1 {
  background-color: #1f2937;
  display: flex;
  gap: 100px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.section-1 h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.section-1 p {
  font-size: 18px;
  color: #e5e7eb;
}

.image-placeholder {
  width: 500px;
  height: 300px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

button {
  background-color: #3882f6;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  color: #f9faf8;
}
/* seciton 2 */

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.section-2 h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}
.main-image-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* block quote section */
.blockquote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
}

figcaption {
  display: flex;
  justify-content: flex-end;
}

/* footer */
footer {
  background-color: #1f2937;
  color: #e5e7eb;
}

/* call to action */
.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
}
