* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* global reset margin and padding */

body {
  margin: 0 auto;
  width: auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 100px;
  border-radius: 10px;
  border: solid 2px blue;
}

/* header sectoin */
header {
  background-color: #1f2937;
  display: flex;
  /* justify-content: space-between; */
  padding: 30px;
}

header a {
  color: #e5e7eb;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
}

/* section and header line up */

.section-1,
header {
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-between;
}
/* seciton 1 */
.section-1 {
  background-color: #1f2937;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  /* justify-content: space-between; */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-1 h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.section-1 p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
  max-width: 500px;
}

.image-placeholder {
  width: 400px;
  height: 300px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3882f6;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  color: #f9faf8;
}
/* seciton 2 */

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.section-2 h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-bottom: 20px;
}
.main-image-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}
.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* block quote section */
.blockquote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
  margin-bottom: 40px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
  height: 150px;
  margin: 0 auto;
}

figcaption {
  display: flex;
  justify-content: flex-end;
}

/* footer */
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 30px;
}

/* call to action */
.call-to-action {
  height: 150px;
  margin: auto;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 40px 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}
.call-to-action button {
  border: solid 1px #e5e7eb;
  padding: 0 10px;
  height: 30px;
}
